body {

background-color:#666666;

}

 .nav {

     display:flex;
     color:#fff;
     margin-left: 300px;
     padding-bottom: 200px;
     padding: 35px 18px;
     padding: 10px 20px;

    }

    .aside .logo a span {
        font-family: 'Clicker Script', cursive;
        font-size: 40px;
    }

    