body {

background-color:#666666;

}

 .nav {

     display:flex;
     color:#fff;
     padding-left: 15px;
     color: #fff;

    }
  
  nav li a {
  
    color:#dddddd;
  
    text-decoration: none;
  
    text-align: center;

    padding-right:150px;


  
  }

  .aside .logo {
    position: absolute;
    top: 80px;
    font-size: 30px;
    text-transform: capitalize;

}
